*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}


.minmenu-area {
  background-color: #000000;
  padding:20px 0;
  position: sticky;
  top: 0;
  width: 100%;
  filter: drop-shadow(0px 1px 4px rgba(1,1,1,0.1));
  border: 3px solid #ffffff;
  z-index: 999;
  border-left: 0;
  border-right: 0;
}
  
.minmenu-area ul {
list-style: none;
padding: 0;
margin: 0;
}

.minmenu-area ul li{
 
  display: inline-block;
  }
  
  .minmenu-area ul li a{
    text-decoration:none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color:#fff;
    padding-left: 20px;
    display: block;
    }










.content-section h3{
    font-size:26px;
    line-height: 33px;
    font-weight:400px;
    padding-bottom:10px;
  }

  .content-section p{
    font-size:18px;
    line-height: 23px;
    font-weight:400px;
  }
.section-paddinig {
    padding-top: 100px;
}

.section-title{
    text-align:center;
    padding-bottom:100px;
}
.section-title h3{
  font-size:26px;
  line-height: 33px;
  font-weight:400px;
}
.section-title p{
    font-size:18px;
    line-height: 23px;
    font-weight:400px;
  }

.feture-worp{
    position:relative;
}
.content-section{
    padding-bottom:100px;
}



.spider-man {
    width:350px;height:auto;
    position:absolute;bottom:0;
    right:-30px;
}
