*{
  box-sizing: border-box;

}

body{
    padding:0;
    margin:0;
    overflow: hidden;
}

html, body{
    height:100%;
}

.wellcome-area{
    height:100%;
    position:relative;
}

.wellcome-area::after{
    position:absolute;
    content:"";
    left:0;
    height:100%;
    width:100%;
    background:#fff;
    z-index: -1;
    opacity: .9;
}



.wellcome-area{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: 100%;
    height:100%;
}

.logo {
    display: inline-block;
    padding-top: 5px;
}
.logo h1{
    font-size:20px;
    display: inline-block;
    color:#ff0000;
}
.logo img{
    max-width: 50px;
    height:auto;
}

.menu{
  text-align:right;
  padding-top:13px;
}
.menu ul{
  list-style: none;

}
.menu ul li {
 display:inline-block;

}

.menu ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    line-height: 23px;
    padding:10px 25px;
}
.button{
    border:1px solid #ff0000;
    color:#ff0000;
    border-radius: 100px;
    padding:5px 0;
}
.header-area {
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.hero-area-table {
    display: table;
    height: 100%;
    width: 100%;
}


.hero-area-table-cell {
    display: table-cell;
    vertical-align: middle;
}


.hero-text h4 {
    font-size: 50px;
    line-height: 58px;
    color: #000;
    padding-bottom:20px
}
.hero-text p {
    font-size: 20px;
    line-height: 25px;
    color: #000;
}

.email-sub-form{
    margin-top:50px;
    font-size: 16px;
    max-width:600px;
}
input[type="email"] {
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 10px !important;
    font-size: 18px;
    font-weight: 500;
    width:58%;
}

button {
    background: red;
    border: none;
    padding: 10px;
    border-radius: 10px !important;
    margin-left: 10px !important;
    color: #fff;
    font-size: 18px;
}

.socal-icon a {
    font-size: 30px;
    color: #000;
    padding-left: 20p;
    display: inline-block;
    padding-right: 10px;
}








.copy-right-area {
    background-color: #000;
    position:absolute;
    bottom:0;left:0;
    width:100%;
    padding: 10px 0;
}

.copy-right-area a{
   color:#fff;

}

.footer-menu {
    text-align: right;
}
.footer-menu ul{
    list-style: none;
    margin-bottom:0 !important;
}
.footer-menu ul li {
    display: inline-block;
   }
.footer-menu ul li a{
 display: inline-block;
 text-decoration: none;
 padding-left:30px;
}