*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.video-play-btn{
    display: table;
    width:100%;
    color:#fff;
   
}

.video-overlay{
    display: table-cell;
    position:absolute;
    top:20%;
    left:40%;
    vertical-align: middle;
    text-align: center;
    color:#fff;
    z-index: 1;
}

.play::after{
    position: absolute;
    background-color: #fff;
    top:0;
    width:100%;height:100%;
    content:"";
    opacity: .5;
}